*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#4E342E,#8D6E63);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#F5F0EB;
    padding:30px;
    width:400px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.25);
    text-align:center;
    border:2px solid #A1887F;
}

h1{
    color:#5D4037;
    margin-bottom:20px;
    font-size:32px;
    letter-spacing:1px;
}

button{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    opacity:0.95;
}

.cliente{
    background:#8D6E63;
    color:white;
}

.cliente:hover{
    background:#795548;
}

.funcionario{
    background:#5D4037;
    color:white;
}

.funcionario:hover{
    background:#4E342E;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #BCAAA4;
    border-radius:6px;
    background:#FFFDFB;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#6D4C41;
    box-shadow:0 0 5px rgba(109,76,65,0.4);
}

#areaFuncionario{
    display:none;
}

.erro{
    color:#B71C1C;
    margin-top:10px;
    font-weight:bold;
}

button:last-child{
    background:#D7CCC8;
    color:#4E342E;
}

button:last-child:hover{
    background:#C5B6AF;
}
